[submodule "libraries/cmocka"]
	path = libraries/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
[submodule "rules/YARA-Mindshield-Analysis"]
	path = rules/YARA-Mindshield-Analysis
	url = git@github.com:mlg-security/YARA-Mindshield-Analysis.git
[submodule "libraries/uthash"]
	path = libraries/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "drivers/telekinesis"]
	path = drivers/telekinesis
	url = git@github.com:mlg-security/Telekinesis.git
[submodule "libraries/elfo"]
	path = libraries/elfo
	url = git@github.com:mlg-security/Elfo.git
[submodule "libraries/c-logger"]
	path = libraries/c-logger
	url = git@github.com:mlg-security/c-logger.git
[submodule "libraries/json-c"]
	path = libraries/json-c
	url = git@github.com:json-c/json-c.git
