[submodule "libraries/cmocka"]
	path = libraries/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
[submodule "rules/YARA-Mindshield-Analysis"]
	path = rules/YARA-Mindshield-Analysis
	url = git@github.com:mlg-security/YARA-Mindshield-Analysis.git
[submodule "libraries/uthash"]
	path = libraries/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "drivers/telekinesis"]
	path = drivers/telekinesis
	url = git@github.com:mlg-security/Telekinesis.git
