[Unit]
Description=Linux Defender Daemon
After=network.target

[Service]
Type=simple
ExecStart=<>
Restart=always
RestartSec=3
User=<>
Group=<>

[Install]
WantedBy=multi-user.target
